@import "../../../styles/mixins";


$red: darken(red, 10%) ;
$green: darken(green, 5%) ;
$white: darken(white, 30%) ;
$black: lighten(black, 10%) ;

.dart-board {
  svg {
    display: block;
    height: 100% !important;
    width: 100%;
    margin: 0 auto !important;
    overflow: hidden;
  }
  svg text {
    font-size: 2rem;
    font-family: Verdana;
    text-align: center !important;
    cursor: pointer;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  svg g g:nth-child(odd) text {
    fill: rgba(#fff, .7);
  }
  svg g g:nth-child(even) text {
    fill: rgba(#fff, .7);
  }
  // upper background color np:20
  svg g g g g:nth-child(odd) path:nth-child(2) {
    fill: $red;
  }
  // middle background color np:20
  svg g g g g:nth-child(odd) path:nth-child(3),
  svg g g g g:nth-child(odd) path:nth-child(5) {
    fill: $black;
  }
  svg g g g g:nth-child(odd) text:nth-child(6) {
    font-size: 3.5rem;
  }
  // lower background color np:20
  svg g g g g:nth-child(odd) path:nth-child(4) {
    fill: $red;
  }
  ////////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////

  // upper background color np:1
  svg g g g g:nth-child(even) path:nth-child(2) {
    fill: $green;
  }
  // upper background color np:1
  svg g g g g:nth-child(even) path:nth-child(3),
  svg g g g g:nth-child(even) path:nth-child(5) {
    fill: $white;
  }
  svg g g g g:nth-child(even) text:nth-child(6) {
    font-size: 3.5rem;
  }
  // upper background color np:1
  svg g g g g:nth-child(even) path:nth-child(4) {
    fill: $green;
  }

  ////////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////

  svg g g g g:last-child circle:first-child {
    fill: $green;
  }
  svg g g g g:last-child circle:last-child {
    fill: $red;
  }

  svg g g g g path.highlight,
  svg g g g g circle.highlight
  {
    fill: blue !important;
  }
}
