extends ../../../common/templates/base

block content
  .contentSettings
    h1 {{matchVM.game.name}}
    .settingsWrapper
      .leftPlayers
        .listHolder
          ul.list-group(dnd-list='matchVM.users')
            li.list-group-item(ng-repeat='user in matchVM.users' dnd-draggable='user', dnd-moved='matchVM.users.splice($index, 1)', dnd-effect-allowed='move')
              dnd-nodrag
                  .handle(dnd-handle) :::
                  .number 1
                  .username {{user.name}}
                  button.btn.btn-danger-outline(type='button', ng-click='matchVM.removeUser(user)') X

        .formHolder
          form.form-inline(name='newUserForm', novalidate='', autocomplete='off')
            .form-group
              label.sr-only(for='newUser') Name
              .input-group
                input#newUser.form-control(type='text', placeholder='Name', required='', name='username', ng-model='matchVM.newUser.name', autocomplete='off')
            button.btn.btn-primary(type='submit', ng-click='newUserForm.$valid && matchVM.addUser(newUserForm.username.$viewValue) && matchVM.reset(form)') +


      .rightSettings
        .listHolder
        .formHolder
          button.btn(type='button', ng-click='matchVM.users.length && matchVM.start()', ng-class='{disabled: !matchVM.users.length, "btn-primary": matchVM.users.length}') START

