extends ../../../common/templates/base

block content
  .contentSettings
    h1 {{matchVM.game.name}}
    .settingsWrapper
      .leftPlayers
        .listHolder
          .bg-players
            include ./players-bg.svg
          h2 Players
          ul.list-group(dnd-list='matchVM.users')
            li.list-group-item(ng-repeat='user in matchVM.users' dnd-draggable='user', dnd-moved='matchVM.users.splice($index, 1)', dnd-effect-allowed='move')
              dnd-nodrag
                  .handle(dnd-handle)
                    include ./drag.svg
                  .number {{$index +1}}
                  .username {{user.name}}
                  button.btn.btn-danger-outline(type='button', ng-click='matchVM.removeUser(user)')
                    include ./backspace.svg
          .no-users.bounce(ng-if='!matchVM.users.length')
            span ADD PLAYERS
            include ./addPlayers.svg
        .formHolder
          form.form-inline(name='newUserForm', novalidate='', autocomplete='off')
            .form-group
              label.sr-only(for='newUser')
              .input-group
                input#newUser.form-control(type='text', placeholder='Name', required='', name='username', ng-model='matchVM.newUser.name', autocomplete='off')
            button.btn.btn-primary(type='submit', ng-click='newUserForm.$valid && matchVM.addUser(newUserForm.username.$viewValue) && matchVM.reset(form)') +


      .rightSettings
        .listHolder
          .bg-settings
            include ./settings-bg.svg

          form(name='gameSettingsForm', novalidate='', autocomplete='off')
            .form-group
              ul
                li
                  .input-holder
                    input.form-control(type='number', placeholder='201 (or more)', required='', name='points', ng-model='matchVM.gameOptions.startingPoints', min='201', step='1')
                    .arrow-up
                      include ./arrow-up.svg
                    .arrow-down
                      include ./arrow-down.svg
                li
                  span Double-In
                  .slide-button
                    input.form-control(type='checkbox', id='doubleIn', name='doubleIn', ng-model='matchVM.gameOptions.doubleIn')
                    label(for='doubleIn')
                li
                  span Double-Out
                  .slide-button
                    input.form-control(type='checkbox', id='doubleOut', name='doubleOut', ng-model='matchVM.gameOptions.doubleOut')
                    label(for='doubleOut')
        .formHolder
          button.btn(type='button', ng-click='matchVM.users.length && gameSettingsForm.$valid && matchVM.start()', ng-class='{disabled: !matchVM.users.length || !newUserForm.$valid, "btn-primary": matchVM.users.length}') START

