@import "mixins";

$footer: 40px;
$btnScore:70px;
$btnAction:70px;

$colorLeft: #2C2C2C;
/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}


/*
 * Base structure
 */

html { font-size: 62.5%; }

html, body {
  height: 100%;
  background-color: #111;
}
body {
  font-size: 1.4rem;
  color: #fff;
  text-align: center;
  text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
  box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
}
.footer {
  position: relative;
  z-index: 10000;
  height: $footer;
  text-align: center;
  background-color: #000;
  box-sizing: border-box;
  max-width: 100%;
  min-width: 300px;
  p {
    margin: 0;
    padding: 0;
    line-height: $footer;
    color: darken(#fff, 70%);
    width: 100%;
    a {
      color: darken(#fff, 60%);
      text-decoration: none;
    }
  }
}
.stage {
  width: 100vw;
  height: 100vh;
}
.content {
  width: 100%;
  @include calc(height, "100% - #{$footer}");
  @include display(flex);
  @include flex-direction(column);
  @include align-items(stretch);
  @include justify-content(center);
}
/////////////////////////////////
.contentMatch {
  @include flex(1);
  @include display(flex);
  @include flex-direction(row);
  @include flex-wrap(nowrap);
  @include justify-content(flex-start);
  @include align-items(stretch);
}
.infoHolderWinner {
  z-index: 10000000;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(#000, .8);
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);
  font-size: 15vh;
  color: whitesmoke;
  text-shadow: 0 0 10px #000;

  p {
    margin: 0;
    padding: 5vh 0;
    width: 100%;
    text-align: center;
    background-color: $txt-red;
  }
}


.dart-board {
  width: 100%;
  @include flex(2);
  @include display(flex);
  @include flex-direction(row);
  @include align-items(stretch);
  @include justify-content(center);
}


.roundNum {
  position: absolute;
  right: 40px;
  top: 20px;
  width: auto;
  font-size: 3rem;
}
.dartsBoardWrapper {
  @include calc(height, "100vh - #{$footer}");
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  @include align-self(center);
}
/////////////////////////////////

.left {
  @include flex(1);
  max-width: 30%;
  min-width: 300px;
  background-color: #000;
  min-height: 500px;
  @include display(flex);
  @include flex-direction(row);
  @include flex-wrap(wrap);
  @include justify-content(space-around);

  .rowContent {
    font-size: 2rem;

    width: 100%;
    margin-bottom: 1px;
    @include display(flex);
    @include flex-direction(row);
    @include flex-wrap(wrap);
    @include align-items(center);
    @include justify-content(center);
    //@include align-content(center);
  }
}
.playerName {
  color: #fff;
  letter-spacing: 1px;
  font-size: 3rem !important;
  font-weight: 300;

}
.pointsSet {
  @include display(flex);
  @include flex-direction(row);
  @include flex-wrap(nowrap);
  @include align-items(stretch);
  @include justify-content(stretch);

  div {
    @include flex(1);
    p {
      color: darken($off-white, 45%);
      text-shadow: 1px 1px #000;
      padding: 5px 0 5px 0;
      margin: 0;
    }
    span {
      font-size: 4rem;
    }
  }
  .totalPoints{
    @include align-self(stretch);
    @include display(flex);
    @include flex-direction(column);
    @include flex-wrap(nowrap);
    @include align-items(center);
    @include justify-content(center);
    border-right: 1px solid #000000;
  }
  .totalPoints span {
    color: $txt-green;
  }
  .roundPoints span {
    color: darken(#fff, 20%);
  }
}
.throws-wrapper {
  width: 100%;
  @include display(flex);
  @include flex-direction(column);
  @include flex-wrap(nowrap);
  @include justify-content(center);

}
.throws {
  @include display(flex);
  @include flex-direction(row);
  @include flex-wrap(nowrap);
  @include justify-content(center);
  @include align-content(stretch);
  padding: 5px;
  padding-bottom: 100px;

  .throw {

    position: relative;

    svg {
      width: 100%;
      height: 100%;
    }
    div.miss-btn {
      padding: 5px;
      position: absolute;
    }
  }
  .bgScore {
    background: #171717;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    height: $btnScore;
    width: $btnScore;
    border: 1px solid rgba(#fff, .2);
  }

  .btn-secondary, .btn-secondary:hover, .btn-secondary:focus {
    outline: 0 !important;
    -webkit-appearance:none;
    text-shadow: none; /* Prevent inheritance from `body` */
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
  }
  .throwScore {
    line-height: $btnScore;
    font-size: 4rem;
    color: #999;
  }
}


///////////////////////////////////////
.infoHolder {
  @include display(flex);
  @include flex-direction(column);
  @include flex-wrap(nowrap);
  @include align-content(center);
  @include justify-content(center);
  width: 100%;
  font-size: 2rem;
  color: darken(whitesmoke, 10%);
  margin-top: 1px;

  p {
    margin: 0;
    padding: 0;
  }
}

///////////////////////////////////////

.buttonSet {
  width: 100%;
  padding: 20px;
  margin-top: 1px;
  box-sizing: border-box;
  @include display(flex);
  @include flex-direction(row);
  @include flex-wrap(nowrap);
  @include justify-content(space-around);
  @include align-items(center);
  //@include align-content(stretch);

  .btn {
    background-color: #171717;
    display: block;
    outline: 0 !important;
    -webkit-appearance:none;
    box-sizing: border-box;
    width: $btnAction;
    height: $btnAction;
    border-radius: 200px;
    border: 1px solid rgba(#fff, .2);
    svg{
      width: 70%;
      height: 70%;
    }
  }
  .btn.btn-primary {
    background-color: lighten(#171717, 0%);
    border: 2px solid green;
    color: #222;
    outline: none;
    svg path{
      fill: green;
    }
  }
  .btn-undo:hover {
   svg path{
     fill: darken(red, 10%);
   }
 }
  .btn-undo:active {
    svg path{
      fill: lighten(red, 10%);
    }
  }

}
.left {
  .playerName {background-color: darken($colorLeft, 4%);}
  .pointsSet {  background-color: darken($colorLeft, 0%);}
  .totalPoints {background-color: darken($colorLeft, 6%);}
  .throws-wrapper {  background-color: darken($colorLeft, 4%);}
  .infoHolder {  background-color: darken($colorLeft, 8%);}
  .buttonSet {  background-color: darken($colorLeft, 0%);}


}
