
$txt-red: darken(red, 10%) !important;
$txt-green: darken(green, 5%) !important;
$txt-white: darken(white, 30%) !important;
$txt-black: lighten(black, 10%) !important;

$off-white: darken(whitesmoke, 10%);
