@import "../../../styles/mixins";

svg {
  display: block;
  height: 100vh !important;
  width: 100vw;
  margin: 0 auto !important;
  overflow: hidden;
}
svg text {
  font-size: 4.4rem;
  font-family: Verdana;
  text-align: center;
  cursor: pointer;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

svg g g:nth-child(odd) text{
  fill: #00591E;
}
svg g g:nth-child(even) text{
  fill: #B01800;
}
svg g g:nth-child(odd) .lower:hover,
svg g g:nth-child(odd) .upper:hover {
  fill: darken(#D9D9D1, 20%) !important;
}
svg g g:nth-child(even) .lower:hover,
svg g g:nth-child(even) .upper:hover {
  fill: lighten(#1E1E1E, 20%) !important;
}

svg g g:nth-child(odd) .double:hover,
svg g g:nth-child(odd) .triple:hover {
  fill: lighten(#00591E, 20%) !important;
}
svg g g:nth-child(even) .double:hover,
svg g g:nth-child(even) .triple:hover {
  fill: lighten(#B01800, 20%) !important;
}
