@import "../../../styles/mixins";

.table-page {
  width: 100%;
  @include flex(1);
  @include display(flex);
  @include flex-direction(column);
  @include flex-wrap(nowrap);
  @include align-items(flex-start);
  @include justify-content(flex-start);
  box-sizing: border-box;
  background-color: darken($colorLeft, 5%) ;
}
h1 {
  position: relative;
  padding-left: 45px !important;
  box-sizing: border-box;
}
.return-icon {
  position: absolute;
  top:0;
  bottom: 0;
  left: 10px;
  width: 40px;

  svg{
    height: 100%;
    width: 100%;
    g g {
      fill: rgba(#fff, .8);
    }
  }
  &:hover svg g g {
    fill: rgba(#fff, 1);
  }
}
.table-wrapper {
  width: 100%;
  @include display(flex);
  @include flex-direction(row);
  @include flex-wrap(wrap);
  @include align-items(flex-start);
  @include justify-content(flex-start);
  box-sizing: border-box;
  padding: 5px;
}
.player-table {
  background-color: $colorLeft;
  height: 150px;
  width: 200px;
  box-sizing: content-box;
  padding: 0;
  margin: 5px;
  text-shadow: none;
  border: 1px solid lighten($colorLeft, 15%);
  @include display(flex);
  @include flex-direction(column);
  @include flex-wrap(wrap);
  @include align-items(flex-start);
  @include justify-content(flex-start);
}
.player-name {
  padding: 10px 0;
  font-size: 1.8rem;
  width: 100%;
  background-color: $colorLeftIcon;
  color: $off-white;
  border-bottom: 1px solid darken($colorLeft, 5%);
}
.player-settings {
  width: 100%;
  box-sizing: border-box;
  padding: 15px ;
  @include flex(1);
  @include display(flex);
  @include flex-direction(column);
  @include flex-wrap(wrap);
  @include align-items(center);
  @include justify-content(space-around);
}

.highest-score,
.lowest-score {
  width: 100%;
  @include display(flex);
  @include flex-direction(row);
  @include flex-wrap(nowrap);
  @include align-items(center);
  @include justify-content(space-between);

  p {
    margin: 0;
    padding: 0;
    color: lighten($colorLeft, 30%);
    text-align: left;
  }
  span {
    display: block;
    width: 30%;
    text-align: center;
  }
}
.total-points {
  width: 100%;
  border-bottom: 1px solid darken($colorLeft, 5%);
  line-height: 40px;
  text-align: center;
  color: lighten($txt-green, 10%);
  font-size: 1.8rem;

}

.highest-score span {

  color: lighten($colorLeft, 50%);
}
.lowest-score span {
  color: lighten($colorLeft, 50%);
}
