extends ../../../common/templates/base

block content
  .table-page

    h1 MATCH TABLE
      .return-icon(ui-sref='match.board')
        include ./return.svg
    .table-wrapper

      .player-table(ng-repeat='data in tableVM.tableData')
        .player-name {{data.playerName}}
        .total-points {{data.totalPoints}}
        .player-settings

          .highest-score
            p highest score
            span {{data.max}}
          .lowest-score
            p avg
            span {{data.avg}}
